.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-family: "Herculanum", fantasy;
}

.top-nav-bar{
  height: 3em;
  background-color: #b3ffff;
  border-bottom: 4px groove white;
}

.bottom-nav-bar{
  float: bottom;
  height: 2em;
  background-color: #b3ffff;
  border-top: 4px ridge white;
}

.left-justify{
  float: left;
  margin-top: .5em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.ta-size{
  margin-top: .5em;
  height: 1.8em;
  padding-top: .3em;
  width: 10em;
  background-color: #e6e6e6;
  resize: none;
  text-align: center;
  border: 4px ridge white;
}

.home-walk-thru{
  margin-left: 3em
}

table, th, tr, td{
  border: 1px solid black;
}

.image-box {
  
}

.walk-thru-row {
}

.image-display{
  height: 100px;
  /* width: 200px; */
}

.title-box{
  font-size: 2em;
  background-color: #e6e6e6;
  opacity: .8;
}

.description-box{
  font-family: serif;
  background-color: #e6e6e6;
  opacity: .8;
  
}

.categories{
  background-color: #e6e6e6;
  padding-top: 3px;
  border: 4px ridge white;
  font-family: monospace;
}

.categories-dropdown{
  text-align: justify;
  /* display: in-line; */
  float: right;
  padding-bottom: px;
  margin-left: 10px;
}

.walk-thru-logo{
  float:left;
  height: 40px;
}

span.email{
  float: right;
  size: 1em;
  font-family: monospace;
  margin-top: 5px;
  margin-right: 10px
}

.github-logo {
  margin-top: 3px;
  height: 20px;
  float: right;
}

.homepage {
  background-image: url("data/staircase.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
